fastapi
uvicorn
sqlalchemy
psycopg2-binary
pytest
apscheduler
python-binance
numpy
python-kis
matplotlib
mplfinance
pandas
discord
requests
lightweight-charts
streamlit
seaborn
streamlit-aggrid
streamlit-lightweight-charts
pynamodb
feedparser
openai
beautifulsoup4
plotly
boto3
python-dotenv

