fastapi
uvicorn
pytest
apscheduler
numpy
matplotlib
mplfinance
pandas
discord
requests
lightweight-charts
streamlit==1.40.1
seaborn
streamlit-aggrid==1.1.4.post1
streamlit-lightweight-charts==0.7.20
pynamodb
feedparser
openai
beautifulsoup4
plotly
boto3
python-dotenv